<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c7362184-364e-4118-92b7-8a78170224a1/resourceGroups/FulloutRG/providers/Microsoft.Web/sites/netapifgrg</ResourceId>
    <ResourceGroup>FulloutRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://netapifgrg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>89af1f82-2899-4a7f-8cc2-8bb78140ef06</ProjectGuid>
    <PublishUrl>https://netapifgrg.scm.azurewebsites.net/</PublishUrl>
    <UserName>$netapifgrg</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>